<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Mutuo</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <link href="assets/img/favicon2.png" rel="icon" />
    <link rel="stylesheet" href="assets/css/login.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <!-- <script src="login.js" defer></script> -->

    <!-- Favicons -->
    <link href="assets/img/favicon2.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>

  <body class="page-index">
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
      <div
        class="container-fluid container-xl d-flex align-items-center justify-content-between"
      >
        <a href="/inicio" class="logo d-flex align-items-center">
          <h1 class="d-flex align-items-center">Mutuo</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <nav id="navbar" class="navbar">
          <ul>
            <li><a href="/inicio" >Inicio</a></li>
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/team">Equipo</a></li>
            <li><a href="/busqueda">Búsqueda</a></li>
            <li><a href="/contacto">Soporte</a></li>
            {{#if nombreUsuario}}
                <li><a href="/cuenta" class="active">{{nombreUsuario}}</a></li>
            {{else}}
                <li><a href="/login" class="active">Ingresá</a></li>
            {{/if}}
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->
        <section class="login vh-100">
          <div class="container-fluid h-custom">
            <div
              class="row d-flex justify-content-center align-items-center h-100"
            >
              <div class="col-md-9 col-lg-6 col-xl-5">
                <img
                  src="assets/img/img/pngwing.com (1).png"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form id="login-form" method="POST" action="/login">
                  <div
                    class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"
                  >
                    <p class="lead fw-normal mb-0 me-3 text-light">
                      Iniciar sesión con
                    </p>
                    <button
                      type="button"
                      class="btn btn-danger btn-floating mx-1"
                    >
                      <i class="bi bi-facebook"></i>
                    </button>

                    <button
                      type="button"
                      class="btn btn-danger btn-floating mx-1"
                    >
                      <i class="bi bi-google"></i>
                    </button>
                  </div>

                  <div class="divider d-flex align-items-center my-4">
                    <a
                      href="/inicio"
                      class="text-center fw-bold mx-3 mb-0 text-light"
                      >Volvé al inicio</a
                    >
                  </div>

                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    <input
                      name="username"
                      type="email"
                      id="email"
                      class="form-control form-control-lg"
                      placeholder="@gmail.com.ar"
                      required
                      />
                      <label class="form-label text-light" for="form3Example3"
                      >Correo Electrónico</label
                      >
                    </div>
                    
                    <!-- Password input -->
                    <div class="form-outline mb-3">
                      <input
                      name="password"
                      type="password"
                      id="password"
                      class="form-control form-control-lg"
                      placeholder="**********"
                      alt="strongPass"
                    />
                    <label class="form-label text-light" for="form3Example4">Contraseña</label>
                  </div>
                  <div class="d-flex justify-content-between align-items-center text-light">
                    <!-- Checkbox -->
                    <div class="form-check mb-0">
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="form2Example3"
                      />
                      <label class="form-check-label" for="form2Example3">
                        Recordar Contraseña
                      </label>
                    </div>
                    <a href="#!" class="text-light"
                      >¿Olvidaste tu Contraseña?</a
                    >
                  </div>
                  <div class="text-center text-lg-start mt-4 pt-2">
                    <!-- <button type="button" onclick="login()" class="btn btn-danger btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem" > -->
                    <button type="submit" class="btn btn-danger btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem" >
                      Iniciar Sesión
                    </button>
                    <p class="small fw-bold mt-2 pt-1 mb-0 text-light">
                      ¿No tienes cuenta?<a
                        href="form_index.html"
                        class="link-secondary text-light"
                      >
                        Registrate</a
                      >
                    </p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Verifica si hay una variable 'sweetAlertBool' definida
                var sweetAlertBool = {{ sweetAlertBool }};
                var sweetAlertIcon = '{{ sweetAlertIcon }}';
                var sweetAlertText = '{{ sweetAlertText }}';

                // Muestra una alerta si 'sweetAlertIcon' está presente
                if (sweetAlertBool) {
                Swal.fire({
                    icon: sweetAlertIcon,
                    title: sweetAlertText,
                    showConfirmButton: true,
                });
                }
            });
        </script>


        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"
        ></script>
        <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <div id="preloader"></div>
      
        <!-- Vendor JS Files -->
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/aos/aos.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
      
        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>
      

  </body>
</html>
